*.bz2
*.gz
*.nt
.vscode/
*.png
*.dot
*.bin
*.prof
*.csv
*.tsv
*.recommendations
*.log
*.eps
*.ods
*.svg
*.exe
*.out

# Include the original dataset (but remove it in the future)
!10M.nt.gz
!test.nt.gz

config_*.json
# Things built by the recommender should not be included in the repository
10M.nt.gz.schemaTree.bin
10M.nt.gz.schemaTree.typed.bin
10M.nt_1in2_test.gz
10M.nt_1in2_train.gz


# Binaries
recommender
evaluation/evaluation
sameAsExtractor/sameAsExtractor
sameAsReducer/sameAsReducer
splitter/splitter
wikiEvaluation/wikiEvaluation
treebuilder/treebuilder
wikiEvaluation/collectRecommendations/collectRecommendations
wikiEvaluation/evaluateRecommendations/evaluateRecommendations
